{% extends "layout/basic.html" %}

{% block content %}
    <h1>Мои заявки</h1>
    <hr>

    {% if application_list %}
    <ul>

      {% for app in application_list %}
      <li>
            <p><strong>Дата создания:</strong> {{app.date}}</p>
            <p><strong>Название:</strong> {{app.name}}</p>
            <p><strong>Описание:</strong> {{app.desc}}</p>
            <p><strong>Категория:</strong> {{app.cat}}</p>
            <p><strong>Статус заявки:</strong> {{app.stas}}</p>
            <p><img style="max-width:100px; max-height:100px;" class="img" src="/media/{{ app.image_app }}"></p
            <nav class="col-md-auto nav flex-column">
                <a class="nav-link root" href="{% url 'main:appli_delete' pk=app.id %}">Удалить</a>
            </nav>
            <hr>

      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no applications</p>
    {% endif %}
{% endblock %}