{% extends "layout/basic.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <h3>Добро пожаловать! {{user.first_name}}</h3>
    {% if num_complete %}
    <p>Список последних выполненных заявок:</p>
    <ul style="list-style: none;">
    {% for app in num_complete %}
        <li><strong >Дата:</strong> {{app.date}}</li>
        <li><strong>Название:</strong> {{app.name}}</li>
        <li><strong>Категория:</strong> {{app.cat}}</li>
        <li><img style="width: 100px; height: 100px" class="img" src="/media/{{ app.image_app }}"></li>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p>На данный момент выполненных заявок нет</p>
    {% endif %}
    <p>Количество заявок находящихся в работе: {{ num_applications }}</p>
    {% else %}
    <h3>Добро пожаловать!</h3>
    <p>Для продолжения <a href="{% url 'main:login' %}">войдите</a> или <a href="{% url 'main:register' %}">зарегистрируйтесь</a></p>
    {% endif %}
{% endblock %}