{% extends "layout/basic.html" %}


{% load bootstrap4 %}


{% block title %} Профиль пользователя {% endblock %}


{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<h2>Ваши заявки:</h2>
  <ul>
  {% for app in applications %}
        <li><strong >Дата:</strong> {{app.date}}</li>
        <li><strong>Название:</strong> {{app.name}}</li>
        <li><strong>Категория:</strong> {{app.cat}}</li>
        <li><img style="width: 100px; height: 100px" class="img" src="/media/{{ app.image_app }}"></li>
        {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  </ul>
{% else %}
<h2>Пока у вас нету заявок</h2>
{% endif %}

{% endblock %}
